<div class="pages navbar-fixed">
    <!-- Page, "data-page" contains page name -->
    <div data-page="blank" class="page">
        <!-- Top Navbar. In Material theme it should be inside of the page-->
        <div class="navbar">
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back"><i class="icon icon-back"></i></a>
                </div>
                <div class="center" data-caption="true">Blank</div>
            </div>
        </div>
        <!-- Scrollable page content -->
        <div class="page-content">
          <p>Page Content</p>
        </div>
    </div>
</div>